//**************************************************
// Color Variables
//**************************************************
$primary-green: #74B358;
$primary-text-color:#6d645e;
$link-color: #d6d6cf;
$main-background-color: #FBFBFB;
$header-nav-bg-color: #E1E2DE;
$header-nav-input-text-color: #78716a;
$header-font-color: #f6f7f4;
$header-secondary-font-color: #fff;
$side-nav-background-color: #47423d;
$h4-hover-color: #608c48;
$image-tagline-text-color: $side-nav-background-color;
$secondary-content-container-bg-color: #E2E4E0;
$footer-link-color: $link-color;
$copyright-text-color: $link-color;

//**************************************************
// Font Variables
//**************************************************
$primary-font: proxima-nova-condensed;
$secondary-font: adelle;

//**************************************************
// Mixin Definitions
//**************************************************
@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

//**************************************************
// General Styles
//**************************************************
body {
  background-color: $main-background-color;
  margin: 0 auto;
  max-width: 1227px;
  position: relative; // for side nav
}

//**************************************************
// Top Header Navigation (.header-nav)
//**************************************************
.header-nav {
  background-color: $header-nav-bg-color;
  height: 64px;
  padding-left: 240px;

  .pull-left {
    float: left;
    @include vertical-align;

     a, span {
       color: $primary-text-color;
       font: 600 14px $primary-font, sans-serif;
       line-height: 22px;
       text-decoration: none;
       text-transform: uppercase;
     }

     span {
       padding: 0 5px;
     }
  }

  .pull-right {
     float: right;
     @include vertical-align;

     a {
       color: $primary-text-color;
       font: 600 14px $primary-font, sans-serif;
       line-height: 22px;
       text-decoration: none;
       text-transform: uppercase;
     }

     .login-register-link::after, .cart-link{
       content: '';
       background: $primary-green 50% 50% no-repeat;
       border-radius: 50%;
       display: inline-block;
       height: 38px;
       vertical-align: middle;
       width: 38px;
     }

     .login-register-link::after {
       background-image: url('../img/login-icon.png');
       margin: 0 15px 0;
     }

     .cart-link {
       background-image: url('../img/cart-icon.png');
     }

     input {
       background:  url('../img/search-icon.png') 95% 50% no-repeat, linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
       border: none;
       color: $header-nav-input-text-color;
       font: italic 13px $secondary-font , sans-serif;
       height: 34px;
       line-height: 22px;
       margin: 0 15px 0;
       padding: 0 10px 0;
       text-align: left;
       width: 150px;
     }
  }
}

//**************************************************
// Header Content
//**************************************************
header {
  background: url('/img/header-background.png') center/cover no-repeat;
  height: 255px;
  padding: 80px 0 0 330px;

  h1 {
    color: $header-font-color;
    font: 900 5.936em $primary-font, sans-serif;
    margin: 0;
    text-transform: uppercase;
  }

  p {
    color: $header-secondary-font-color;
    font: italic 1.375em $secondary-font, sans-serif;
    margin: 0;

    span {
      display: block;
    }
  }
}

//**************************************************
// Floating Side Navigation
//**************************************************
.side-nav {
  background: linear-gradient(rgba(71, 66, 61, 0.7), rgba(71, 66, 61, 0.7)), url('../img/side-nav-under-image.png')  1% 150%/100% 80% no-repeat;
  display: inline-block;
  font: $primary-font, sans-serif;
  height:  440px;  margin: 17px 0 0 17px;
  position: fixed;
  width:  190px;


  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-bottom: 1px solid white;
      color: white;
      font-size: 12px;
      height: 30px;
      line-height: 30px;
      padding-left: 8px;
      text-transform: uppercase;

      &:first-child {
        background: $side-nav-background-color;
        height: 163px;
        padding: 0;
      }

      &:last-child {
        border-bottom: none;
        height: 50px;
      }

      a {
        color: white;
        text-decoration: none;

        img {
          float: right;
          height: 27px;
          width: 20px;
        }
        .logo {
          float: none;
          height: initial;
          margin-left: 25px;
          margin-top: 25px;
          width: initial;
        }
      }
    }
  }

  .subscribe {
    img {
      display: inline-block;
      height: 73px;
      margin-right: 10px;
      vertical-align: middle;
      width: 73px;
    }

    p {
      color: $primary-text-color;
      display: inline-block;
      font: 600 0.78em $primary-font, sans-serif;
      line-height: 1.618;
      margin: 0;
      text-align: left;
      text-transform: uppercase;
      vertical-align: middle;
      width: 99px;

    }
  }

  .small-menu {
    display: none;

    input {
      background:  url('../img/search-icon.png') 95% 50% no-repeat, linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
      border: none;
      color: $header-nav-input-text-color;
      font: italic 13px $secondary-font, sans-serif;
      height: 34px;
      line-height: 22px;
      margin: 0 15px 0;
      padding: 0 10px 0;
      text-align: left;
      width: 150px;

    }
    .icon-links {
      padding-top: 10px;
      text-align: center;

      .login-register-link, .cart-link {
        background: $primary-green 50% 50% no-repeat;
        border-radius: 50%;
        content: '';
        display: inline-block;
        height: 38px;
        margin: 0 5px 0;
        vertical-align: middle;
        width: 38px;
      }

      .login-register-link {
        background-image: url('../img/login-icon.png');
      }
      .cart-link {
        background-image: url('../img/cart-icon.png');
      }
    }
  }
}

//**************************************************
// Main Content Area
//**************************************************
.content-container {
  margin-left: 240px;
  margin-top: 50px;
  font: $secondary-font, sans-serif;

  // NOTE: change this from flexbox (not enough browser support)
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  .content-left {
    margin-right: 50px;
    max-width: 607px;

    h2 {
      color: $primary-text-color;
      font: 1.499em $primary-font, sans-serif;
      text-transform: uppercase;
    }

    p {
      color: $primary-text-color;
      font-size: 0.874em;
      font-weight: 400;
      line-height: 1.716;
    }
  }
  .content-right {
    margin-top: 75px;
    max-width: 286px;

    .image-tagline {
      color: $image-tagline-text-color;
      font: italic 1em $secondary-font, sans-serif;
      line-height: 1.903; 
      text-align: center;
    }
  }
}
//**************************************************
// Secondary Content Area
//**************************************************
.secondary-content-container {
  background-color: $secondary-content-container-bg-color;
  padding: 71px 0 71px 180px;

  .flock-container {
    padding: 0 20px 0 30px;

    h3 {
      border-bottom: 1px solid $primary-text-color;
      color: $primary-text-color;
      font: 600 1.125em $primary-font, sans-serif;
      line-height: 1.222;
      margin: 0 auto;
      text-align: center;
      text-transform: uppercase;
      width: 324px;
    }

    a {
      display: inline-block;
      height: 240px;
      margin: 25px 10px;
      position: relative;
      text-align: center;
      text-decoration: none;
      width: 173px;

      &:hover .hover-div{
        visibility: visible;
      }

      &:hover h4{
        color: $h4-hover-color;
      }


      .hover-div {
        background-color: rgba(102, 88, 79, .5);
        border-radius: 50%;
        height: 173px;
        left: 0;
        position: absolute;
        top: 0;
        visibility: hidden;
        width: 173px;

        .hover-img {
          height: 40px;
          margin: 40% auto 0 auto;
          width: 40px;
        }
      }

      h4 {
        color: $primary-green;
        font: 1.374em $primary-font, sans-serif;
        line-height: 1;
        margin-bottom: 0;
        text-align: center;
        text-transform: uppercase;
      }

      span {
        color: $primary-text-color;
        font: 400 0.813em $secondary-font, sans-serif;
        line-height: 1.692;
      }
    }
  }
}

//**************************************************
// Footer
//**************************************************
footer {
  background: url('../img/footer-background.png') center/100% no-repeat;
  height: 269px;
  text-align: center;
  width: 100%;

  .nav-links {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 50px;

    li {
      display: inline-block;
      font: 600 1em $primary-font, sans-serif;
      line-height: 1.375;
      list-style: none;
      padding: 0 10px 0;
      margin-bottom: 0;

      a {
        color: $footer-link-color;
        text-decoration: none;
      }

      &:first-child {
        margin-right: 50px;
        vertical-align: middle;
      }

      &:first-child::after {
        border-right: none;
      }

      &::after {
        content: '';
        border-right: 1px solid $footer-link-color;
        padding-left: 25px;
      }

      &:last-child::after {
        border-right: none;
      }
    }
  }

  .social-icons {
    display: block;
  }

  p {
    color: $copyright-text-color;
    font: italic 0.75em $secondary-font, sans-serif;
    display: inline-block;
    line-height: 1.833;
    padding-left: 180px;
  }

  img {
    display: inline-block;
    margin-left: 50px;
    vertical-align: middle;
  }
}









