//**************************************************
// Color Variables
//**************************************************
$header-nav-bg-color: #E1E2DE;
$header-nav-link-color: #6D645E;
$header-nav-icon-bg-color: #74B358;
$header-nav-input-text-color: #78716a;
$header-font-color: #f6f7f4;
$header-secondary-font-color: #fff;
$side-nav-background-color: #47423d;
//**************************************************
// Mixin Definitions
//**************************************************
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

//**************************************************
// General Styles 
//**************************************************
body {
	max-width: 1227px;
	margin: 0 auto;
	position: relative; // for side nav
}

//**************************************************
// Top Header Navigation (.header-nav)
//**************************************************
.header-nav {
	height: 64px;
  background-color: $header-nav-bg-color;
  padding-left: 220px; //???

  .pull-left {
  	float: left;
   	@include vertical-align;

   	a, span {
   		text-decoration: none;
   		font-family: proxima-nova-condensed;
   		text-transform: uppercase;
			color: $header-nav-link-color;
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
   	}

   	span {
   		padding: 0 5px;
   	}
  }

  .pull-right {
   	float: right;
   	@include vertical-align;

   	a {
   		text-decoration: none;
   		font-family: proxima-nova-condensed;
   		text-transform: uppercase;
			color: $header-nav-link-color;
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
   	}

   	.login-register-link::after, .cart-link{
   		content: '';
      display: inline-block;
			background-repeat: no-repeat;
			background-color: $header-nav-icon-bg-color;
			background-position:50% 50%;
			width: 38px;
			height: 38px;
			border-radius: 50%;
			vertical-align: middle;
   	}

   	.login-register-link::after {
			background-image: url('../img/login-icon.png');
			margin: 0 15px 0;
   	}

   	.cart-link {
      background-image: url('../img/cart-icon.png');
   	}

   	input {
   		margin: 0 15px 0;
   		padding: 0 10px 0;
   		width: 150px;
      height: 34px;
      font-family: Adelle;
			color: $header-nav-input-text-color;
			font-size: 13px;
			font-style: italic;
			line-height: 22px;
			text-align: left;
			background:  url('../img/search-icon.png'), linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
			background-repeat: no-repeat;
			background-position: 95% 50%;
			border: none;
   	}
  }
}

//**************************************************
// Header Content
//**************************************************
header {
	background-image: url('/img/header-background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 255px;
	padding: 80px 0 0 330px; //???

	h1 {
		margin: 0;
		font-family: proxima-nova-condensed;
		text-transform: uppercase;
		color: $header-font-color;
    font-size: 5.936em;
    font-weight: 900;
	}

	p {
		margin: 0;
		font-family: adelle;
		color: $header-secondary-font-color;
		font-size:  1.375em; 
    font-style: italic;

    span {
    	display: block;
    }
	}
}

//**************************************************
// Floating Side Navigation
//**************************************************
.side-nav {
	display: inline-block;
	width:  190px;
	height:  440px;
	position: fixed;
	background: linear-gradient(rgba(71, 66, 61, 0.7), rgba(71, 66, 61, 0.7)), url('../img/side-nav-under-image.png');
	background-repeat: no-repeat;
	background-size: 100% 80%;
	background-position: 1% 150%;
	margin: 17px 0 0 17px;
	font-family: proxima-nova-condensed;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			border-bottom: 1px solid white;
			text-transform: uppercase;
			color: white;
			font-size: 12px;
			line-height: 30px;
			height: 30px;
			padding-left: 8px;

			&:first-child {
				background-color: $side-nav-background-color;
				height: 163px;
				padding: 0;
			}

			&:last-child {
				border-bottom: none;
				height: 50px;
			}

			a {
				text-decoration: none;
				color: white;


				img {
					width: 20px;
				  height: 27px;
				  float: right;
				}
				.logo {
					width: initial;
					height: initial;
					float: none;
					margin-top: 25px;
					margin-left: 25px;
				}
			}
		}
	}
}














